* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
}

i {
    color: rbg(96, 96, 96);
    font-size: 2.4rem;
}

h1 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

main {
    display: flex;
    padding: 3rem 3rem;
    padding-top: 9rem;
}

a {
    text-decoration: none;
    color: rgb(96, 96, 96);
}

.nav-main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    height: 6rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}


.nav-bar ul {
    list-style: none;
}
  
.nav-main li {
    margin-right: 2rem;
}

.nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    align-self: center;
    flex: 1
  }
  .left-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav img {
    width: 10rem;
    margin-left: 1rem;
  }
  

  
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .right-nav img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  
  .right-nav li {
    margin-right: 2rem;
  }

  #user {
    display: flex;
    align-items: center;
    background-color: rgb(73, 230, 151);
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  #initial {
    width: 100%;
    text-align: center;
    color: #FFF;
  }

#search-bar{
    width: 540px;
    height: 34px;
    background-color: white;
    border: 1px solid rgba(180, 180, 180, 0.5);
    border-radius: 2px;
    padding-left: 10px;
}
#search-button{
    width: 60px;
    height: 34px;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgba(180, 180, 180, 0.5);
    border-radius: 2px;
}