* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
}

i {
    color: rbg(96, 96, 96);
    font-size: 2.4rem;
}

h1 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

main {
    display: flex;
    padding: 3rem 3rem;
    padding-top: 9rem;
}

a {
    text-decoration: none;
    color: rgb(96, 96, 96);
}
/*
.nav-main {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    height: 6rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
}
*/
.nav-main {
  width: 100%;
  height: 56px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  color: #aaa;
  font-size: 1.2rem;
}

.nav-bar ul {
    list-style: none;
}
  
.nav-main li {
    margin-right: 2rem;
}

.nav-bar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    align-self: center;
    flex: 1
  }
  .left-nav {
    display: flex;
    align-items: center;
  }
  
  .left-nav img {
    width: 10rem;
    margin-left: 1rem;
  }
  
  .search-nav li {
    display: flex;
    align-items: center;
  }
  
  .search-nav input {
    width: 60rem;
    height: 3rem;
    padding-left: 1rem;
  }
  
  .search-nav i {
    background-color: white;
    outline: none;
    font-size: 2rem;
    margin-left: -5rem;
    background-color: white;
    border: none;
  
  }
  
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .right-nav img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }
  
  .right-nav li {
    margin-right: 2rem;
  }

  #user {
    display: flex;
    align-items: center;
    background-color: rgb(73, 230, 151);
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  
  #initial {
    width: 100%;
    text-align: center;
    color: #FFF;
  }